#herobanner {
    width: 1000px;
    height: 750px;
}


#features1 {
    width: 400px;
    height: 400px;
}



#features2 {
    width: 400px;
    height: 400px;
}

#features3 {
    width: 400px;
    height: 400px;
}



#features4 {
    width: 400px;
    height: 400px;
}


#features5 {
    width: 400px;
    height: 400px;
}


#features6 {
    width: 400px;
    height: 400px;
}



#pricing-free {
    width: 400px;
    height: 400px;
}


#pricing-pro {
    width: 400px;
    height: 400px;
}


.startbussiness-wrapper {
    background-color: #559DF1;
    border-radius: 10px;
    width: 90vw;
    height: 300px;
    display: flex;
}


.startbussiness-wrapper .text{
  position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    max-width: 400px;
}

.startbussiness-wrapper .text h2{
  color: #ffffff;
}



#startbussiness {
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%,-50%);
    min-width: 80vh;
}