#herobanner {
  width: 1000px;
  height: 750px;
}


#features1 {
  width: 400px;
  height: 400px;
}



#features2 {
  width: 400px;
  height: 400px;
}



#features3 {
  width: 400px;
  height: 400px;
}

